<h3>
  Manage Admin Phone No</h3>
<mat-dialog-content>
  <table class="tblContent">
    <tbody>
      <tr>
        <th>No.</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let currentPhoneNo of phoneNoList; let idx = index">
        <td>{{ idx + 1 }}</td>
        <td>{{ currentPhoneNo }}</td>
        <td><a class="btnAction btnActionDelete" (click)="deleteNumber(idx)">Delete</a></td>
      </tr>

      <tr>
        <td>#</td>
        <td><input (keyup.enter)="addNumber()" id="phoneNo" style="border: none; outline: none;" placeholder="eg: 0123456789" #phoneNo /></td>
        <td><a class="btnAction btnActionAdd" (click)="addNumber()" title="Add number">Add</a></td>
      </tr>
    </tbody>
  </table>
  <span class="errorMsg">{{ errorMsg }}</span>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="spanDesc">*SMS will be sent to these number when there is a distress signal.</span><button class="btnMatDialog" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
