/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/angular2-lightbox/lightbox.css';

body {
  font-family: Oxygen, Arial, Helvetica, sans-serif;
  background: url('/assets/img/background.png');
  background-size: auto;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  color: #292929;
  margin: 0px;
  padding-bottom: 10px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
  color: #292929;
  margin: 0px;
  padding-bottom: 10px;
}

h3 {
  font-size: 26px;
  line-height: 26px;
  color: #292929;
  margin: 0px;
  padding-bottom: 10px;
}

.mat-dialog-actions {
    position: relative;
}

.divMdLeft {
  overflow: hidden;
  float: left;
}

.divMdRight {
  overflow: hidden;
  margin-left: 290px;
}

.mdTitle {
    margin: 0px;
    font-size: 12px;
}

.mdContent {
    margin: 0px;
    color: #292929;
    font-size: 20px;
}

.mdSplitter {
    margin: 5px;
}

.btnMatDialog {
    display: block;
    position: absolute;
    right: 0px;
    border: 0px;
    width: 60px;
    height: 25px;
    outline: none;
    box-sizing: border-box;
    font-family: Oxygen;
    background: rgba(0,0,0,0.1);
}

.btnMatDialog:hover {
    background: rgba(0,0,0,0.2);
}

.tblContent {
    width: 100%;
    border-collapse: collapse;
}

.tblContent tr td {
    padding: 5px;
    border: solid 1px #292929;
    text-align: center;
}

.spanDesc {
    font-size: 12px;
    color: #404040;
}

.btnAction, .btnAction:active, .btnAction:visited {
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.btnAction:hover, .btnAction:active {
    text-decoration: underline;
}

.btnActionAdd {
    color: #42a5f5;
}

.btnActionDelete {
    color: #EF5350;
}

.errorMsg {
    font-size: 12px;
    color: red;
    font-style: italic;
    margin: 5px;
}