agm-map{
    height: calc( 100vh - 120px );
}

agm-map h3 {
    font-size: 16px;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
}

.btnUserProfile:hover {
    text-decoration: underline;
    color: #292929;
    cursor: pointer;
}

.subtitle {
    margin: 0px;
    font-size: 11px;
    font-style: italic;

}

.divSwitch {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: #f5f5f5;
}

.divButton {
    display: inline-block;
    border: solid 1px #292929;
    padding: 6px;
    cursor: pointer;
}

.divButton:hover {
    background: #D9D9D9;
}

.divSelected {
    background: #D2D2D2;
}

.distressOn {
    color: red;
    font-weight: 700;
}