<div style="position: relative;" *ngIf="lat && lng">
  <div class="divSwitch">
    <div class="divButton" [class.divSelected]="distressClicked" [class.distressOn]="totalDistress" (click)="switchMarker('distress')">Distress Signals ({{ totalDistress }})</div>
    <div class="divButton" [class.divSelected]="pastDistressClicked" (click)="switchMarker('pastDistress')">Past Distress Signals ({{ totalPastDistress }})</div>
    <div class="divButton" [class.divSelected]="eventClicked" (click)="switchMarker('events')">Reported Events ({{ totalEvents }})</div>
  </div>

  <agm-map [minZoom]="7" [zoom]="10" [latitude]="lat" [longitude]="lng">

    <agm-marker *ngFor="let marker of markers"
      [latitude]="marker.lat"
      [longitude]="marker.lng">

      <agm-info-window>
        <p class="subtitle">Reported by</p>
        <h3><a class="btnUserProfile" title="View user profile" (click)="openUserProfileDialog(marker.uid)">{{ marker.userName }} (Phone No: {{ marker.phoneNo }})</a></h3>
        <p class="subtitle">Reported on</p>
        <h3>{{ marker.timestamp | date:'yyyy-MM-dd HH:mm a z':'+0800' }}</h3>
        <p class="subtitle">Type of event</p>
        <h3>{{ marker.type }}</h3>
        <a class="btnUserProfile" title="View photo" (click)="openEventPhotoDialog((marker.eventLevel), (marker.eventid))">View photo</a>
      </agm-info-window>

    </agm-marker>
  </agm-map>
<div>