<h3>
  Contact No: {{ data.phoneNo }}</h3>
<mat-dialog-content>
  <div class="divMdLeft">
    <img src="{{ data.imageUrl }}" style="width: 270px" />
  </div>
  <div class="divMdRight">
    <p class="mdTitle">Name</p>
    <p class="mdContent">{{ data.name }}</p>
    <p class="mdSplitter"></p>
    <p class="mdTitle">Gender</p>
    <p class="mdContent">{{ data.gender }}</p>
    <p class="mdSplitter"></p>
    <p class="mdTitle">Date of Birth</p>
    <p class="mdContent">{{ data.dob }}</p>
    <p class="mdSplitter"></p>
    <p class="mdTitle">Race</p>
    <p class="mdContent">{{ data.race }}</p>
    <p class="mdSplitter"></p>
    <p class="mdTitle">Height</p>
    <p class="mdContent">{{ data.height }} cm</p>
    <p class="mdSplitter"></p>
    <p class="mdTitle">Weight</p>
    <p class="mdContent">{{ data.weight }} kg</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btnMatDialog" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
