<div>
  <header>
    <div routerLink="/dashboard" routerLinkActive="active" id="headerLeft" title="Dashboard">
      <img id="logo" alt="Logo" title="design by Freepik from Flaticon" src="assets/img/siren.png">
      <h3>{{ invitationTitle }}</h3>
    </div>
  </header>
  <div id="divContentOuter">
    <div id="divContentInner">
        <h2>
        Welcome to
        </h2>
        <h2>Crowd Distress Application!</h2>
        <p id="desktop">Please open the below link from your Android phone</p>
        <p><a id="btnDownload" href="{{ downloadUrl }}"  target="_blank">Download</a></p>
        <p id="version">Current ver.: {{ version }}</p>
    </div>
</div>
  <footer>
      <span>All Right Reserved © 2018</span>
  </footer>
</div>
