header {
    width: 100%;
    overflow: hidden;
    border-bottom: solid 1px #ddd;
    background: #f5f5f5;
    padding: 10px 25px;

}

#logo {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

@media screen and (max-width: 450px) {
    #logo {
        width: 30px;
        height: 30px;
    }
    header h3 {
        font-size: 14px;
    }
    footer span {
        font-size: 12px;
        right: 20vw !important;
    }
    h2 {
        font-size: 20px;
        line-height: 20px;
    }
    #desktop {
        font-size: 10px !important;
    }
    #btnDownload {
        margin: 0px;
    }
    #version {
        font-size: 8px !important;
    }
}

#divContentOuter {
    height: calc( 100vh - 120px );
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
}

#divContentInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    background: #f5f5f5;
    padding: 30px;
}

#desktop {
    font-size: 14px;
}

a#btnDownload, a#btnDownload:visited, a#btnDownload:link  {
    display: block;
    box-sizing: border-box;
    width: 130px;
    height: 35px;
    padding-top: 6px;
    text-align: center;
    color: #000;
    text-decoration: none;
    background: rgba(0,0,0,0.1);
    border-radius: 2px;
    cursor: pointer;
}

a#btnDownload:hover, a#btnDownload:active {
    background: rgba(0,0,0,0.2);
    text-decoration: none;
}

#version {
    font-size: 12px;
    color: #292929;
    font-style: italic;
}

#headerLeft {
    float: left;
    display: flex;
    align-items: baseline;
    outline: none;
    cursor: pointer;
}

#headerLeft h3 {
    display: inline;
    padding-bottom: 0px;
}

footer {
    width: 100%;
    height: 30px;
    padding: 10px 0px;
    background: #f5f5f5;
    border-top: solid 1px #ddd;
    position: fixed;
    bottom: 0px;
}

footer span {
    float: right;
    position: relative;
    right: 20px;
    top: 5px;
}